input {
    all: unset;
}



.cadastro-geral{

    margin-top: 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.panel-body{
    width: 75%;
    border-radius: 5px;
    background-color: white;
}

.pagina-cadastro .panel-body, .pagina-login .panel-body{

    width: 60%;
}

.pagina-cadastro .panel-body h1, .pagina-login .panel-body h1{
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: black;
}

.panel-body a{
    margin: 60px 0 20px 20px;
    color: rgb(85, 85, 85);
    font-size: 12px;
}

.cadastro-geral form{
    padding: 20px;
}

.cadastro-geral  input, select {
    width: 100%;
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    border-bottom: 2px solid #0388A6;
    transition: border 2s;
}



.cadastro-geral input, select{
    background-color: rgba(223, 223, 223, 0.445);
    margin-bottom: 25px;
    transition: border .2s;
    font-weight: bold;
}

.cadastro-geral select{
    font-size: 16px;
}



.cadastro-geral,  label{
    font-weight: bold;
}

.cadastro-geral input[type=file]{
    background-color: rgb(173, 173, 173);
}

.cads-geral {
    background-color: #e4e4e4;
    display: flex;
}

.main-cads{
    border-left: 1px solid black;
    background-color: var(--cor-fundo);
    padding: 5px;
    color: black;
    flex: 3;
}

.titulo-cads{
    display: flex;
    justify-content: center;
}

.cad-buttons{
    display: flex;
    justify-content: space-between;
}

.cad-buttons button{
    padding: 10px;
    margin-top: 10px;
    color: white;
    background: #68c5fb;
    background: linear-gradient(151deg, rgba(104,197,251,1) 0%, rgba(0,111,148,1) 100%);
    border-radius: 20px;
    transition: box-shadow .5s;
}

.cad-buttons button:hover{
    box-shadow: 0px 0px 10px 3px rgba(0,162,255,0.78);
}