
main{
    border-left: 1px solid black;
    background-color: rgb(218, 206, 193);
    padding: 50px;
    color: black;
    display: flex;
}

.voltar{
    display: flex;
    justify-content: left;
    background-color: rgb(218, 206, 193);
    padding: 20px;
    font-weight: bold;
}

.voltar span{
    background: linear-gradient(151deg, rgba(104,197,251,1) 0%, rgba(0,111,148,1) 100%);
    padding: 8px;
    border-radius: 5px;
    color: #b0e0fc;
}

.livro-descricao-geral{
    flex: 3;
}

.livro-locacao{
    flex: 1;
}

.livro-sinopse{
    display: flex;
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;

}

.livro-sinopse img{
    width: 200px;
    height: 250px;
}

.livro-sinopse p{
    margin-left: 10px;
    text-align: justify;
}

.livro-locacao{
    text-align: center;
    background-color: white;
    font-size: 18px;
    margin-left: 5px;
    padding: 15px;
}

.livro-locacao label{
    display: block;
}

.livro-locacao input{
    margin-bottom: 10px;
    font-size: 18px;
    padding: 10px;
    background-color: #f6efef;
}

.livro-locacao  input[type=text] {
    padding: 5px 0 5px 0;
    margin: 5px 0 5px 0;
    border-bottom: 2px solid #0388A6;
    transition: border 2s;
}

.livro-locacao input[type="submit"]{
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
}

.livro-locacao input[type="submit"]:hover{
    cursor: pointer;
}

.livro-locacao p{
    border: 2px solid black;
    color: white;
    text-align: justify;
    margin: 15px;
    background-color: gray;
}

footer {
    background: linear-gradient(to top, #011c41, #011D40);
    color: white;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}